body {
  color: #fff;
  font-family: 'Arimo', sans-serif;
  font-weight: normal;
  line-height: 1;
  background-color: #250813; /*green #5A941B; red:#730404; */
}

h1,h2 {
  font-weight: bold;
}

h2.about-game {
  margin-bottom: 50px;
}

.panel {
  background-color: transparent;
}
section.panel {
  border-bottom: 1px solid #380e1d;
  padding-top: 70px;
  position: relative;
  overflow-x: hidden;
}

section.logo {
  /* Fondo: imagen navideña/imagen de la Playa de Xai-Xai */
}

section.explanation {
  /* Fondo: foto de los cuatro niveles en una misma imagen */
}

section.final {
  /* Fondo: a descartar por logo */
}

div.inner {
  text-align: center;
  width: 70%;
  height: 100%;
  background: transparent;
  margin: 0 auto;
  display: table;
}

/*@media screen and (max-width: 1024px){
  div.inner {
    width: 80%;
  }
}
*/

div.middle {
  display: table-cell;
  vertical-align: middle;
}

.about {
  position: absolute;
  bottom: 20px;
}

p.about{
  left: 10px;
}

div.about {
  right: 10px;
}

p.language {
  position: absolute;
  right: 40px;
  top: 20px;
}
a {
  cursor: pointer;
}

a.imaweb, a.imaweb:active {
  text-decoration: none;
  color: #999;
}

a.imaweb:hover {
  text-decoration: underline;
}

img.sn-logo {
  width: 50px;
  margin: 0 5px
}

a.twitter-intent img.sn-logo,
a.facebook-intent img.sn-logo,
a.messages-panel img.sn-logo {
  width: 30px;
}

a.youtube-video img.sn-logo {
  width: 35px;
}
.puntuaciones td{
  width: 30%;
}

.language span {
  cursor: pointer;
}

div.ratio-wrapper {
  max-width: 1024;
  width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
}

div.ratio-wrapper-content {
  width: 100%;
  height: 100%;
  background-image: url('img/initial.png');
  background-repeat: no-repeat;
  background-size: cover;
  border:10px solid #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #000;
  padding-top: 46%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.play_button{
    height: 50%;
    width: auto;
}

.video-wrapper {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  margin: 20px 0;
  float: none;
  clear: both;
  display: inline-block;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-dialog{
    float: none;
    clear: both;
    width:100%;
    max-width: 1024px;
    height: 100%;
    max-height:576px;
}

.modal-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.modal-body{
    height: 100%;
    width: 100%;
    padding: 0px;
}

/*JP*/
.align-left {
  text-align: left;
}
.dashedBott{
  border-bottom: 1px dashed #999;
  padding-bottom: 5px;
}
.navbar-default {
  background-color: #380e1d;
  border-color: #250813;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #ddd;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #eee;
  background-color: #250813;
}
.navbar-default .navbar-toggle {
  border-color: #666;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #250813;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #ddd;
  background-color: #250813;
}
.dropdown-menu {
  background-color: #380e1d;
}
.dropdown-menu>li>a{
  color: #ccc;
}
.logo_top {
  width: 80px;
  margin-top: -5px;
}
.logo_main {
  /*margin-top: 65px;*/
}
.logo_main img {
  width: 400px;
  display: initial;
}
.welcome {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  width: 100%;
  border-top: 1px solid #380e1d;
  padding:20px 10px;
  margin: 40px 0;
}
.inner h2,
.middle h2{
  font-size: 1.8em;
  text-align: left;
  text-transform: uppercase;
  height: 40px;
  border-bottom: 1px dashed #999;
  padding-bottom: 5px;
}
.middle h2 .punctuation {
  color: #bd114f;
  font-size: 1.6em;
  margin-top: -10px;
  vertical-align: top;
  display: inline-block;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none!important;
}
.carousel-inner>.item img {
  border-radius: 5px;
}
.carousel-caption {
  background-color: #13050a;
  opacity: 0.9em;
  position: relative;
  left: auto;
  right: auto;
}
.carousel-indicators {
  bottom: -10px;
}
.play {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  background-color: #a01127;
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #000;
  padding:20px 70px;
  position: relative;
  top: -35px;
}
.play:hover, .play:focus, .play:active {
  color: #fff;
  text-decoration: none;
  background-color: #651127;
}
.graphic {
  background-color: #13050a;
  box-shadow: 3px 3px 5px #000;
  padding: 20px;
  margin-bottom: 20px;
}
.form-horizontal label  {
  text-align: left !important;
  text-transform: uppercase;
}
.form-horizontal .btn-default {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  background-color: #F95900;
  border: none;
}
.form-horizontal .btn-default:hover,
.form-horizontal .btn-default:focus,
.form-horizontal .btn-default:active {
  color: #fff;
  text-decoration: none;
  background-color: #651127;
}
.share_butt {
  margin: 20px 5px;
}

@media(max-width:1024px) {
  div.inner {
    width: 80%;
  }
}

@media(max-width:991px) {
  div.inner {
    width: 90%;
  }
}

@media(max-width:767px) {
  div.inner {
    width: 90%;
  }
  .play {
    font-size: 2em;
  }
  .share_butt {
    display: initial;
  }
}
