body {
  color: #fff;
  font-family: 'Arimo', sans-serif;
  font-weight: normal;
  line-height: 1;
  background-color: #250813; /*green #5A941B; red:#730404; */
}

h1,h2 {
  font-weight: bold;
}

h2.about-game {
  margin-bottom: 50px;
}

.panel {
  background-color: transparent;
}
section.panel {
  border-bottom: 1px solid #380e1d;
  padding-top: 70px;
  position: relative;
  overflow-x: hidden;
}

section.logo {
  /* Fondo: imagen navideña/imagen de la Playa de Xai-Xai */
}

section.explanation {
  /* Fondo: foto de los cuatro niveles en una misma imagen */
}

section.final {
  /* Fondo: a descartar por logo */
}

div.inner {
  text-align: center;
  width: 70%;
  height: 100%;
  background: transparent;
  margin: 0 auto;
  display: table;
}

/*@media screen and (max-width: 1024px){
  div.inner {
    width: 80%;
  }
}
*/

div.middle {
  display: table-cell;
  vertical-align: middle;
}

.about {
  width: 80%;
  position: absolute;
  bottom: 40px;
}

.about img,
.iw_logo img {
  width: 237px;
}

.iw_logo {
  margin: 20px 0;
}

p.about{
  left: 10px;
}

/*div.about {
  right: 10px;
}*/

p.language {
  position: absolute;
  right: 40px;
  top: 20px;
}
a {
  color:#ff8100;
  cursor: pointer;
}

a:hover, a:active, a:focus {
  color:#ddd;

}

a.imaweb, a.imaweb:active {
  text-decoration: none;
  color: #999;
}

a.imaweb:hover {
  text-decoration: underline;
}

img.sn-logo {
  width: 50px;
  margin: 0 5px
}

a.twitter-intent img.sn-logo,
a.facebook-intent img.sn-logo,
a.messages-panel img.sn-logo {
  width: 30px;
}

a.youtube-video img.sn-logo {
  width: 35px;
}
.puntuaciones th, .puntuaciones td{
  font-size: 0.9em;
  height: 35px;
  padding: 0 5px;
}

table.puntuaciones {
  border-bottom: 1px solid #13050a;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.puntuaciones th{
  text-transform: uppercase;
  background-color: #13050a;
}

.puntuaciones td{
  width: 40%;
}

.puntuaciones td.t_pts_prov{
  width: 10%;
}

.fila0:nth-child(even) {
  background-color: #463239;
}

.fila0:nth-child(odd) {
  background-color: transparent;
}

.language span {
  cursor: pointer;
}

div.ratio-wrapper {
  max-width: 1024;
  width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
}

div.ratio-wrapper-content {
  width: 100%;
  height: 100%;
  background-image: url('../img/initial.png');
  background-repeat: no-repeat;
  background-size: cover;
  border:10px solid #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #000;
  padding-top: 46%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.play_button{
    height: 50%;
    width: auto;
}

.video-wrapper {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  margin: 20px 0;
  float: none;
  clear: both;
  display: inline-block;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-dialog{
    float: none;
    clear: both;
    width:100%;
    max-width: 1024px;
    height: 100%;
    max-height:576px;
}

.modal-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.modal-body{
    height: 100%;
    width: 100%;
    padding: 0px;
}

/*JP*/
.uppercase {
  text-transform: uppercase;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.dashedBott{
  border-bottom: 1px dashed #999;
  padding-bottom: 5px;
}
.navbar-default {
  background-color: #380e1d;
  border-color: #250813;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #ff8100;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #eee;
  background-color: #250813;
}
.navbar-default .navbar-toggle {
  border-color: #666;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #250813;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #ddd;
  background-color: #250813;
}
.dropdown-menu {
  background-color: #380e1d;
}
.dropdown-menu>li>a{
  color: #ccc;
}
.logo_top {
  width: 80px;
  margin-top: -5px;
}
.iw_top img{
  width: 140px;
  padding: 8px 8px 0;
}
.flag {
  width: 20px;
}
.logo_main img {
  width: 400px;
  display: initial;
}
.welcome,
.welcome2 {
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  max-width: 992px;
  border-top: 1px solid #380e1d;
  padding:20px 10px;
  margin: 40px auto;
}
.welcome p{
  font-size:20px; 
  font-weight:bold; 
  text-align:center; 
  text-transform:uppercase; 
  padding-top:20px;
}
.welcome2 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
.welcome2 a:hover {
  text-decoration: none;
}
.inner h2,
.middle h2 {
  font-size: 1.5em;
  text-align: left;
  text-transform: uppercase;
  min-height: 40px;
  border-bottom: 1px dashed #999;
  padding-bottom: 5px;
}

.graphic_txt {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  padding-top: 55px;
}

.graphic_txt .punctuation {
  color: #bd114f;
  font-size: 1.6em;
}
.carousel {
  max-width: 1024px;
  margin: 0 auto;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none!important;
}
.carousel-inner>.item img {
  border-radius: 5px;
}
.carousel-caption {
  font-size: 1.2em;
  height: 80px;
  background-color: #13050a;
  padding: 10px 10px 0;
  padding-bottom: 0;
  opacity: 0.9;
  position: relative;
  top: -120px;
  left: auto;
  right: auto;
}
.carousel-indicators {
  bottom: 80px;
}
.play {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  background-color: #a01127;
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #000;
  padding:0.3em 2em;
  position: relative;
  top: -35px;
}
.play:hover, .play:focus, .play:active {
  color: #fff;
  text-decoration: none;
  background-color: #651127;
}
.graphic {
  background-color: #13050a;
  box-shadow: 3px 3px 5px #000;
  padding: 20px;
  margin-bottom: 20px;
}
.form-horizontal label  {
  text-align: left !important;
  text-transform: uppercase;
}
.form-horizontal textarea, .form-horizontal input {
  font-size: 12px;
  border-radius: 0px;
  padding: 6px 6px;
}
.form-horizontal .btn-default {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  background-color: #F95900;
  border: none;
  border-radius: 0px;
}
.form-horizontal .btn-default:hover,
.form-horizontal .btn-default:focus,
.form-horizontal .btn-default:active {
  color: #fff;
  text-decoration: none;
  background-color: #651127;
}
.share_butt {
  text-align: left;
  margin: 20px 5px;
  display: initial;
}
.top_score {
  text-align: left;
  width: 100%;
  border-bottom: 1px dashed #999;
  padding-bottom: 10px;
  margin: 10px 0 5px;
}
.logo_top_score {
  width: 80px;
}
.top_score .iw_logo {
  margin: 0;
}
.top_score .iw_logo img{
  width: 180px;
}

/*//// COOKIES ////*/
  @keyframes desaparecer
  {
  0%    {bottom: 0px;}
  80%   {bottom: 0px;}
  100%    {bottom: -50px;}}
  @-webkit-keyframes desaparecer /* Safari and Chrome */
  {
  0%    {bottom: 0px;}
  80%   {bottom: 0px;}
  100%    {bottom: -50px;}}
  @keyframes aparecer
  {
  0%    {bottom: -38px;}
  10%   {bottom: 0px;}
  90%   {bottom: 0px;}
  100%    {bottom: -38px;}}
  @-webkit-keyframes aparecer /* Safari and Chrome */
  {
  0%    {bottom: -38px;}
  10%   {bottom: 0px;}
  90%   {bottom: 0px;}
  100%    {bottom: -38px;}}

  #cookiesms1:target {
  display: none;}

  .cookiesms{ 
    width:100%;
    height:43px;
    margin:0 auto;
    padding-left:1%;
    padding-top:5px;
    font-size:12px;
    clear:both;
    color: #efefef;
    bottom:-50px;
    position:fixed;
    left: 0px;
    background-color: #13050a;
    opacity:0.99;
    filter:alpha(opacity=99); /* For IE8 and earlier */
    transition: bottom 1s;
    -webkit-transition:bottom 1s; /* Safari */
    -webkit-box-shadow: 3px -3px 1px #13050a;
    -moz-box-shadow:    3px -3px 1px #13050a;
    box-shadow:         3px -3px 1px #13050a;
    z-index:999999999;
  }
  .cookiesms a{
    color: #ddd;
    font-weight:bold;
  }
  .cookiesms a:hover{
    color:#ff8100;
  }
  .cookiesms:hover{
  bottom:0px;
  }
  .cookies2 {
    background-color: #000;
    display:inline;
    opacity:0.5;
    filter:alpha(opacity=50);
    position:absolute; 
    left:1%; 
    top:-27px;
    font-size:12px;
    height:25px;
    padding-top:6px;
    padding-left:25px;
    padding-right:25px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index:9999999999;
  }
  .button_cook {
    font-size:14px;
    font-weight:;   
    color: #fff;
    height: 30px;
    width: 120px;
    background-color:#250813; 
    border-radius: 3px;
      border:0px;
    /*box-shadow: 0px 3px 3px #000;
    -moz-box-shadow: 0px 3px 3px #000;
    -webkit-box-shadow: 0px 3px 3px #000;*/
    zoom: 1; 
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#333333', Direction=135, Strength=3); /* IE */
  }
  .button_cook:hover, .button_cook:focus, .button_cook:active {
    background-color: #ff8100;
  }
@media (max-width:1200px) {
  div.inner {
    width: 80%;
  }
}

@media (max-width: 991px) {
  div.inner {
    width: 90%;
  }
}

@media (max-width:767px) {
  div.inner {
    width: 90%;
  }
  .play {
    font-size: 2em;
  }
  .carousel-caption {
  font-size: 1em;
  }
}
